.register {
  display: flex;
  justify-content: center;
}

form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

.register__container {
  position: relative;
  background-color: white;
  border-radius: 10px;
  min-height: 500px;
  margin-bottom: 70px;
  padding: 50px 60px 40px;
  width: 350px;
}

.register__container h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  color: #42ce9f;
}

.register__container-form p {
  color: gray;
  padding: 10px 0;
  text-align: left;
  position: relative;
  right: 40px;
}

.register__container-form input {
  background-color: #f1efef;
  border-radius: 5px;
  border: white;
  color: gray;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 112%;
  position: relative;
  right: 40px;
}

.register__container-form h3 {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  padding: 15px 0;
}

.container__button {
  position: relative;
  width: 150px;
}

.container__button-img img {
  width: 100px;
  position: absolute;
  top: -27px;
  right: 80px;
  cursor: pointer;
}

.container__button a:hover .arrowRight {
  animation: arrow 1.5s ease-out infinite;
}

.container__button .button {
  background-color: #ff4a04;
  padding: 25px 0 10px 80px;
  color: white;
  font-weight: bold;
  display: flex;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  margin-top: 30px;
  outline: none;
  width: 270px;
}

.arrowRight {
  width: 30px;
  position: relative;
  bottom: 5px;
  right: 45px;
  z-index: 1;
  animation: arrow 1.5s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    transform: translate(50px, 0px);
  }

  50% {
    transform: translate(60px, 0px);
  }

  100% {
    transform: translate(50px, 0px);
  }
}

.valueDiscount_section img {
  width: 190%;
  border-radius: 12px;
  box-shadow: 0 0 5px 0px #888888;
  height: auto;
  position: relative;
  right: 20px;
  z-index: 1;
}

.valueDiscount_section-text {
  z-index: 2;
  position: absolute;
  width: 300px;
  left: 10%;
  top: 15%;
}

.valueDiscount_section-text p {
  color: black;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

.valueDiscount_section-text h3 {
  color: #ff4a04;
  font-weight: bold;
  font-size: 24px;
  padding: 0;
  text-align: center;
  margin-right: 25%;
}

.valueDiscount_section-text p span {
  color: rebeccapurple;
  text-transform: none;
  font-size: 14px;
}
