body{
    background: linear-gradient(#42CE9F,  #5E12AE);
     font-family: 'Montserrat', sans-serif;
     margin:0px;
     /* background-image: url("") */

}
.container_principal{
      margin-top: 50px;
      width: 470px;
      display: inline-block;
      margin-left:100px;
      /* margin-bottom: 20px; */

}
